
<span class="ui-float-label">
    <input id="float-input" type="text" size="30"> 
    <label for="float-input">Agencia</label>
</span>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30"> 
    <label for="float-input">Conta</label>
</span>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30"> 
    <label for="float-input">Instituição Bancaria</label>
</span>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30"> 
    <label for="float-input">Saldo</label>
</span>
<span class="ui-float-label">
    <input type="button" (click)="save()" name="Cadastrar" value="Cadastrar">
</span>